<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>My html page</title>
</head>
<body>
    <h2>Style templates</h2>
    <h1> {{name}} says {{message}}</h1>
    <form action="/form" method="post">
        <div>
            <label>Name:</label>
            <input type="text" name="name">
        </div>
        <div>
            <label>Message:</label>
            <input type="text" name="message">
        </div>
        <button type="submit">Send</button>
    </form>
    
    </body> </html>