<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>My html page</title>
</head>
<body>
    <h2>Style templates</h2>
    <h1>Hello {{name}} you are {{age}}</h1>
    <p> Today is a beautiful day. We go swimming and fishing.
    </p> <p> Hello there. How are you?
    </p> 
    <a href='http://127.0.0.1:5000/about'> link to about page</a>
    <br>
    <img src='/static/sid.jpg' width=300>
    </body> </html>